@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Font used in this website */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Font name: monsieur-la-doulaise */
.monsieur-la-doulaise-regular {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
}
  
  
/* Shared Styles */
.display-flex{
    display: flex;
}
.display-grid{
    display: grid;
}
.primary-bg-color{
    background-color: #E6533C;
}

/* Text-color*/
.text-color{
    color: white;
}

.text-color-2{
    color: #E6533C;
}

.primary-description-color{
    color: rgba(255, 255, 255, 0.5);
}

.secondary-description-color{
    color: rgba(239, 237, 232, 0.65);
}

/* Styles applied on whole site */
body{
    background-color: black;
    max-width: 1440px;
    margin: 0 auto;
}

/* Navbar Styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 2.25rem;
    font-weight: 900;
}

.nav-items{
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px;
    border-radius: 40px;
}

.nav-item{
    margin-right: 47px;
}

.fa-bars{
    color: white;
    visibility: hidden;
}

.nav-link{
    text-decoration: none;
}

.nav-btn{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 46px;
}

/* Banner related styles */
.banner{
    justify-content: space-between;
}

.banner-title{
    font-size: 4.9rem;
}

.banner-content{
    max-width: 50%;
}

.banner-btn, .banner-btn-2{
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 42px;
}

.banner-btn{
    border: none;
    padding: 16px 46.5px;
    margin-right: 14px;   
}

.banner-btn-2{
    background: none;
    border: 1px solid white;
    padding: 16px 48px;
}

/* Banner-Card and img related styles */
.banner-img{
    position: relative;
}

.card-1, .card-2{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.card-1{
    max-width: 40%;   
    padding: 20px 23px;
    position: absolute;
    left: -7rem;
    bottom: 12rem;
}

.fa-circle{
    font-size: 2rem;
    width: 40px;
}

.card-info{
    align-items: center;
    gap: 12px;
}

.card-title, .card-description, .card-2-title{
    margin: 0;
}

.card-description{
    white-space: nowrap;
}

.card-2{
    max-width: 45%;
    padding: 17px 24px;
    position: relative;
    left: 14rem;
    bottom: 30rem;
}

.card-2-title{
    font-size: 2.5rem;
}


/* media queries related styles for small devices */
@media screen and (max-width: 576px) 
{
    header{
        margin: 0 20px
    }

    .nav-items{
        display: none;
    }

    .fa-bars{
        font-size: 2.25rem;
        visibility: visible;
    }
    .banner{
        flex-direction: column;
        align-items: center;
    }
    .banner-content{
        max-width: 100%;
    }
    .banner-btns{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-wrap: nowrap;
    }
    .banner-btn{
        padding: 16px 40px;
    }
    .banner-btn-2{
        padding: 16px 20.5px;
    }
    .card-1{
        left: 1rem;
        bottom: 21rem;
        padding: 15px 17px;
    }
    .card-2{
        left: 11.5rem;
        bottom: 33rem;
        padding: 12px 18px;
    }
}