@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Font used in this website */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Font name: monsieur-la-doulaise */
.monsieur-la-doulaise-regular {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
}
  
  
/* Shared Styles */
.display-flex{
    display: flex;
}

.display-grid{
    display: grid;
}

.primary-bg-color{
    background-color: #E6533C;
}

/* Text-color*/
.text-color{
    color: white;
}

.text-color-2{
    color: #E6533C;
}

.primary-description-color{
    color: rgba(255, 255, 255, 0.5);
}

.secondary-description-color{
    color: rgba(239, 237, 232, 0.65);
}

section{
    margin-top: 100px;
}

/* Styles applied on whole site */
body{
    background-color: black;
    max-width: 1440px;
    margin: 0 auto;
}

/* Navbar Styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 2.25rem;
    font-weight: 900;
}

.nav-items{
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px;
    border-radius: 40px;
}

.nav-item{
    margin-right: 47px;
}

.fa-bars{
    color: white;
    visibility: hidden;
}

.nav-link{
    text-decoration: none;
}

.nav-btn{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 46px;
}

/* Banner related styles */
.banner{
    justify-content: space-between;
}

.banner-title{
    font-size: 4.9rem;
}

.banner-content{
    max-width: 50%;
}

.banner-btns{
    margin-top: 28px;
}

.banner-btn, .banner-btn-2, .btn-3{
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 42px;
}

.banner-btn{
    border: none;
    padding: 16px 46.5px;
    margin-right: 14px;   
}

.banner-btn-2{
    background: none;
    border: 1px solid white;
    padding: 16px 48px;
}

/* Banner-Card and img related styles */
.banner-img{
    position: relative;
}

.card-1, .card-2{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.card-1{
    max-width: 40%;   
    padding: 20px 23px;
    position: absolute;
    left: -7rem;
    bottom: 12rem;
}

.fa-circle{
    font-size: 2rem;
    width: 40px;
}

.card-info{
    align-items: center;
    gap: 12px;
}

.card-title, .card-description, .card-2-title{
    margin: 0;
}

.card-description{
    white-space: nowrap;
}

.card-2{
    max-width: 45%;
    padding: 17px 24px;
    position: relative;
    left: 14rem;
    bottom: 30rem;
}

.card-2-title{
    font-size: 2.5rem;
}

/* Habits section related styles */
.habits{
    text-align: center;
}

.habits > p{
    margin-bottom: 58px;
}

.habit-content{
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.content > img{
    border-radius: 50%;
}

.section-title{
    font-size: 3rem;
}

/* Extra-Achievement Section */
.extra-achievement{
    background-color: #222222;
    border-radius: 18px;
    align-items: center;
    gap: 164px;
    padding: 30px;
}

.A-img{
    width: 100%;
    border-radius: 18px;
}

.btn-3{
    margin-top: 34px;
    padding: 16px 70px;
    border: none;
}

/* BMI Chart section */
table, th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 12px 18px;
    text-align: left;
}

/* BMI calc related styles */
.bmi-container{
    justify-content: space-between;
    background-color: #222222;
    padding: 52px;
}

.bmi-table{
    padding: 52px;
    max-width: 100%;
}

form{
    width: 577px;
    padding: 52px;
}

form > input, select{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 13px 20px;
    border: none;
    border-radius: 8px;
    color:  rgba(255, 255, 255, 0.1);
    margin: 12px;
}

.option-1{
    width: 36%;
}

.option-2{
    width: 78%;
}

/* Trainer related styles */
.team{
    max-width: 1060px;
    margin: 0 auto;
}

.team-head-content{
    text-align: center;
    margin-top: 88px;
    margin-bottom: 58px;
}

.trainer{
    position: relative;
}

.trainers-content{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
}

.trainer-img{
    width: 100%;
    height: 272px;
    border: none;
    border-radius: 18px;
}

.trainer-text{
    position: absolute;
    bottom: 0;
}


/* Footer related styles */
footer{
    margin-top: 88px;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-content{
    padding: 66px 190px;
    grid-template-columns: repeat(3, 1fr);
    gap: 102px;
    align-items: center;
}

.footer-title{
    font-size: 4.4rem;
    margin: 0;
    font-weight: 900;
}

.footer-links{
    margin-left: 152px;
}

hr{
    width: 72%;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-end{
    padding: 35px;
    text-align: center;
}

/* media queries related styles for small devices */
@media screen and (max-width: 576px) 
{
    header, main{
        margin: 0 20px
    }

    .nav-items{
        display: none;
    }

    .fa-bars{
        font-size: 2.25rem;
        visibility: visible;
    }
    .banner{
        margin-top: 0;
    }

    .banner, .extra-achievement{
        flex-direction: column;
        align-items: center;
    }

    .banner-content{
        max-width: 100%;
    }

    .banner-btns{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-wrap: nowrap;
    }

    .banner-btn{
        padding: 16px 40px;
    }

    .banner-btn-2{
        padding: 16px 20.5px;
    }

    .card-1{
        left: 1rem;
        bottom: 21rem;
        padding: 15px 17px;
    }

    .card-2{
        left: 11.5rem;
        bottom: 33rem;
        padding: 12px 18px;
    }

    /* habit section */
    .habits, .section-title{
        margin-top: 0;
    }

    .habits{
        margin: 0 28 0 28;
    }

     .habit-content{
        grid-template-columns: 1fr;
     }

     /* Extra Achievement Section */
    .extra-achievement{
        gap: 30px;
    } 

     .btn-position{
        text-align: center;
     }

     .A-img{
        max-width: 100%;
     }
     
     .btn-3{
        margin-top: 24px;
        padding: 16px 103px;
     }

     /* BMI Calculator-Section */
     .bmi-table{
        padding: 45px;
     }

     .bmi-container {
        text-align: center;
        flex-direction: column;
        padding: 5px; 
    }

    form {
        width: 100%;   
        padding: 5px;
        margin: 0 auto; 
    }

    form > input, select {
        width: 25%;   
    }

    .btn-3 {
        padding: 16px 70px;
        margin-bottom: 43px; 
    }
    
     /* Trainer Section related styles */
     .trainers-content{
        grid-template-columns: 1fr;
     }

     .team-head-content{
        margin-top: 66px;
        margin-bottom: 37px;
     }

     .trainer-img{
        width: 100%;
        height: auto;
     }

     /* Footer-related-styles */
     .footer-content{
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 44px 20px;
     }

     .footer-links{
        margin-left: 0;
     }

     hr{
        width: 94%;
     }

}